pipeline/increment pipeline.json
{
	"name": "increment pipeline",
	"properties": {
		"activities": [
			{
				"name": "initial date data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from date_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqldb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "date_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copydata to bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "initial date data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from car_sales_data where date_id > '@{activity('initial date data').output.value}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Revenue",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Revenue",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Day",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Day",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Month",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Product_Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Product_Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sqldb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "car_sales_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "updated date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copydata to bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(date_id) last_updated_date from car_sales_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqldb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "car_sales_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "update latest date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "updated date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_date]",
					"storedProcedureParameters": {
						"lastupdatedate": {
							"value": {
								"value": "@activity('updated date').output.value[0].last_updated_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "data model job",
				"type": "DatabricksJob",
				"dependsOn": [
					{
						"activity": "update latest date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"jobId": "56013507315246"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-13T08:10:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}